<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<!--所有html的Head-->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="Author" content="F.Fang">
    <meta name="Language" scheme="Language Codes" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海电气智能风电</title>
    <!--css样式-->
    <link rel="stylesheet" href="plugins/jquery/jquery-confirm.css">
    <link rel="stylesheet" href="plugins/jquery/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="plugins/pace/themes/white/pace-theme-minimal.css"/>
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/toastr/toastr.css">
    <link rel="stylesheet" href="plugins/select2/select2.min.css">
    <link rel="stylesheet" href="plugins/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="plugins/smartAdmin/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" href="plugins/smartAdmin/smartadmin-production.min.css">
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" href="plugins/smartAdmin/smartadmin-rtl.min.css">
    <!--皮肤-->
    <link rel="stylesheet" href="css/skins/default/smartadmin-skins.min.css">
    <link rel="stylesheet" href="css/skins/default/custom-skins.css">
    <!--自定义样式-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/menu-build.css">

    <!--plugins-->
    <script src="plugins/jquery/jquery-3.3.1.js"></script>
    <script src="plugins/jquery/jquery-confirm.js"></script>
    <script src="plugins/jquery/jquery.mousewheel.min.js"></script>
    <script src="plugins/jquery/jquery.mCustomScrollbar.min.js"></script>
    <script src="plugins/jquery/jquery.cookie.js"></script>
    <script src="plugins/jquery/jquery-ui.js"></script>

    <script src="plugins/socket/socket.io.js"></script>

    <script src="plugins/echarts/echarts.js"></script>

    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/select2/select2.min.js"></script>

    <script src="plugins/toastr/toastr.js"></script>
    <script src="js/common/jsCommon.js"></script>
    <script src="js/common/jsCustomCommon.js"></script>

</head>
<body class="smart-style-0 fixed-page-footer fixed-ribbon">
<!-- 头部 -->
<%- include('header.html') %>
<!--侧边栏-->
<%- include('aside.html') %>
<!-- 内容  开始 -->
<!-- ***** ARTICLE START ***** -->
<article id="article" class="clearfix">