<!--所有html的Head-->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="Author" content="F.Fang">
    <meta name="Language" scheme="Language Codes" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海电气智能风电</title>
    <!--css样式-->
    <link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.css">
    <link rel="stylesheet" href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="plugins/jquery.bootstrap-touchspin.css">

    <link rel="stylesheet" href="plugins/pace-theme-minimal.css"/>

    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="plugins/bootstrap-table.css">
    <link rel="stylesheet" href="plugins/bootstrap-fileinput/fileinput.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-treeview.css">
    <link rel="stylesheet" href="plugins/bootstrap-select.css">
    <link rel="stylesheet" href="plugins/bootstrap-datetimepicker.css"/>

    <link rel="stylesheet" href="plugins/toastr.css">
    <link rel="stylesheet" href="plugins/select2.min.css">

    <link rel="stylesheet" href="plugins/font-awesome.css">
    <link rel="stylesheet" href="css/fullpage.css">
    <link rel="stylesheet" href="css/menu-build.css">
    <link rel="stylesheet" href="css/commonCSS.css">

    <link rel="stylesheet" href="" id="skinCss">

    <!--plugins-->
    <script src="plugins/jquery.min.js"></script>
    <script src="plugins/jquery-confirm.js"></script>
    <script src="plugins/jquery.mousewheel.min.js"></script>
    <script src="plugins/jquery.mCustomScrollbar.min.js"></script>
    <script src="plugins/jquery.bootstrap-touchspin.js"></script>
    <script src="plugins/jquery.cookie.js"></script>
    <script src="plugins/jquery-ui.min.js"></script>

    <script src="plugins/socket.io.js" type="text/javascript"></script>

    <script src="plugins/echarts.js"></script>

    <script src="plugins/bootstrap.min.js"></script>
    <script src="plugins/bootstrap-table.js"></script>
    <script src="plugins/bootstrap-table-zh-CN.min.js"></script>
    <script src="plugins/bootstrap-select.js"></script>
    <script src="plugins/bootstrap-datetimepicker.js"></script>
    <script src="plugins/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="plugins/bootstrap-fileinput/fileinput.min.js"></script>
    <script src="plugins/bootstrap-fileinput/zh.js"></script>
    <script src="plugins/bootstrap-treeview.js"></script>
    <script src="plugins/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="plugins/select2.full.min.js"></script>

    <script src="plugins/toastr.js"></script>

    <script src="js/commonJS.js"></script>
    <script src="js/configure/js.js"></script>
    <script src="js/common.js"></script>
    <script src="js/menu-build.js"></script>
    <script src="js/treeCommon.js"></script>
    <script src="js/control-build.js"></script>
    <script src="js/common/msgResorce.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/common/inputclean.js"></script>
    <script src="js/common/inputSeePwd.js"></script>
</head>