html, body {
    height: 100%;
}

body {
    padding: 40px 0 40px 0;
}

/*侧边栏mask*/
.aside-mask {
    width: calc(100% - 300px);
    height: calc(100% - 80px);
    top: 40px;
    left:300px;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.aside-min {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: calc(100% - 80px);
    top: 40px;
}

.aside-max {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 300px;
    z-index: 21;
    height: calc(100% - 80px);
    top: 40px;
}

/*内容开始容器*/
#article {
    height: 100%;
    width: calc(100% - 40px);
    float: right;
    padding: 0px;
    overflow: auto
}

/*页脚定义修正*/
.page-footer {
    padding: 10px 0 0 0;
    text-align: center;
    height: 40px;
    border: 0;
}

/*头部定义修正*/
.fixed-ribbon #ribbon {
    padding: 0 30px;
    height: 40px;
    right: 0;
    left: 0;
    top: 0;
}

/*面包屑分隔符调整*/
.breadcrumb > li + li:before {
    content: ">";
}

/*头部logo设定*/
.header-logo {
    width: 114px;
    height: 40px;
    display: inline-block;
    background-size: 100% 100%;
}

/*整体*/
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 300px;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

/*第一层*/
.sidebar-menu > li > a {
    padding: 12px 5px 12px 5px;
    display: block;
    border-left: 3px solid transparent;
}

.sidebar-menu > li > a > .fa {
    width: 20px;
}

/*第二层以下*/
.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
}
/*展开时，展开部分设定*/

.point-level2{
    display: block;
    padding-left: 15px;
    height: 30px;
    border-right: 1px solid;
}
.line-level2{
    display: block;
    padding-left: 23px;
    height: 30px;
    border-right: 1px solid;
}
.space-level2{
    display: block;
    padding-left: 23px;
    height: 30px;
    border-right: 0px solid;
}
.point-level2::after{
    content: "";
    display: block;
    position: relative;
    width: 8px;
    left: 8px;
    top: 15px;
    border-top: 1px solid;
    z-index: 0;
}
.point-level3{
    display: block;
    padding-left: 15px;
    font-size: 21px;
    height: 30px;
    border-right: 1px solid;
}
.point-level-end{
    height: 15px;
}
.point-level3::after{
    content: "";
    display: block;
    position: relative;
    width: 8px;
    left: 8px;
    top: 15px;
    border-top: 1px solid;
    z-index: 0;
}
/*!*!*展开时，展开部分设定*!*!*/
/*.treeview-menu.level2::before {*/
/*content: "|-";*/
/*display: block;*/
/*float: left;*/
/*z-index: 1;*/
/*padding-left: 40px;*/
/*font-size: 20px;*/
/*}*/
/*.menuDiv>ul>li>ul>li::before {*/
/*content: "";*/
/*display: block;*/
/*position: relative;*/
/*width: 15px;*/
/*left: 20px;*/
/*top: 15px;*/
/*border-top: 1px solid #bdbdbd;*/
/*z-index: 0;*/
/*}*/
/*尾部*/
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px;
}


/*展开时，展开部分设定*/
.sidebar-menu li.active > .treeview-menu {
    display: block;
}

/*.sidebar-menu a {*/
/*color: #b8c7ce;*/
/*text-decoration: none; }*/
/*底层初期表示*/
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0px;
}
/*menu设定==============================================================================Start*/
/*.sidebar-menu .treeview-menu .treeview-menu {*/
/*padding-left: 20px; }*/
.sidebar-menu .treeview-menu > li {
    margin: 0;
}

/*第二层以下*/
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 0px;
    display: block;
    font-size: 14px;
}

.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px;
}

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
}

/*整体*/
.menu-div {
    background: rgba(0, 0, 0, 0.3);
    border-radius:  5px 5px 5px 5px;
    color: rgba(245, 245, 255, 0.8);
    overflow:hidden;
    height: 100%;
}
.level1.active > a,
.level2.active > a,
.level3.active > a {
    background: rgba(255, 255, 255, 0.2)!important;
    color: white !important;
    font-weight: bold !important;
    opacity: 1 !important;
}
/*.level1.active::after,*/
/*.level2.active::after,*/
/*.level3.active::after {*/
/*content: "\f0d9";*/
/*font-family: FontAwesome;*/
/*display: block;*/
/*height: 27px;*/
/*line-height: normal;*/
/*width: 27px;*/
/*position: absolute;*/
/*right: -21px;*/
/*font-size: 20px;*/
/*color: #eee;*/
/*}*/
.level1:hover > a,
.level2:hover > a,
.level3:hover > a {
    background: rgba(0, 0, 0, 0.2) ;
    border-left-color: #3c8dbc;
}
.level1 > a ,.level2 > a, .level3 > a{
    /*color: #0d0d0d;*/
    color: #f2f2f2;
}
.level2 > a{
    padding-left: 40px!important;
}
.level3 > a{
    padding-left: 60px!important;
}
.level1  {
    background: rgba(0, 0, 0, 0.0);
}

.level2  {
    background: rgba(0, 0, 0, 0.1);
}

.level3  {
    background: rgba(0, 0, 0, 0.1);
}
.badge {
    background: red;
}
/*menu设定==============================================================================end*/
